<div class="container-fluid" style="padding-left: 0">
  <div class="row">
    <div class="col-md-6 d-md-block  d-none ">
      <img class="bg-brand" src="assets/img/Group 3895.png" alt="" />
    </div>
    <div class="col-md-6 col-sm-12 p-form" >
      <div class="logo-img">

        <img
          src="assets/img/Logo.png"
          alt=""
        />
      </div>
      <form [formGroup]="form">
        <div class="form-login" style="margin-bottom: 27px">
          <label class="text-rose" style="padding-left: 20px">Email*</label>
          <div class="form-addons">
            <input
              type="text"
              formControlName="email"
              id="email"
              [ngClass]="{
                'is-invalid': f['email'].touched && f['email'].invalid
              }"
              class="login-inp"
            />
          </div>
          <div
            class="invalid-feedback"
            *ngIf="CustomControler?.status === 'email'"
          >
            {{ CustomControler.message }}
          </div>
          <div
            *ngIf="f['email'].touched && f['email'].invalid"
            class="invalid-feedback text-red d-block"
          >
            <div *ngIf="f['email'].errors && f['email'].errors['required']">
              this field is required
            </div>
            <div *ngIf="f['email'].errors && f['email'].errors['email']">
              Please, enter valid email address.
            </div>
          </div>
        </div>
        <div class="form-login">
          <label class="text-rose" style="padding-left: 20px">Password*</label>
          <div class="pass-group" style="position: relative">
            <input
              [type]="show ?'text': 'password'"
              class="pass-input"
              formControlName="password"
              id="password"
              [ngClass]="{
                'is-invalid': f['password'].touched && f['password'].invalid
              }"
              class="login-inp"
            />
            <span style="position: absolute; top: 41%; left: 86%">
              <img
                src="../../../assets/img/Vector (2).png"
                (click)="show = !show"
                alt=""
              />
            </span>
          </div>
          <div
            *ngIf="f['password'].touched && f['password'].errors"
            class="text-red"
          >
            <div>
              <div *ngIf="f['password'].errors?.['required']">
                this field is required
              </div>
            </div>
            <div>
              <div *ngIf="f['password'].errors?.['minlength']">
                minlength is 8 character
              </div>
            </div>
            <div>
              <div *ngIf="f['password'].errors?.['maxlength']">
                maxlength is 50 character
              </div>
            </div>
            <div>
              <div *ngIf="f['password'].errors?.['pattern']">
                Password Should Complex Pattern
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="form-login" style="margin-top: 74px">
        <button (click)="submit()" class="btn-login">Login</button>
      </div>
    </div>
  </div>
</div>
